@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Oswald:wght@300&display=swap');

body {
  background-color: #000000;
  font-family: 'Mouse Memoirs', sans-serif;
  font-family: 'Oswald', sans-serif;
}